/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body
{
  font-family: 'Baumans', cursive;
  font-size: 24px;
  background-image: url(cobblestone.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

input
{
  font-family: 'Baumans', cursive;
  font-size: 24px;
  background-color: #FFFF99;
  color: #B22222;
}
textarea
{
  font-family: 'Baumans', cursive;
  font-size: 18px;
  color: #B22222;
  background-color: #FFFF99;
}

h1, h2, h3, h4
{
  color: #B22222;
}

a:link {color:#000000}
a:hover {color:#000000}
a:visited {color:#B22222}
a:active {color:#B22222}